<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Actions</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Tickets
        </mat-expansion-panel-header>
        <a mat-list-item [routerLink]="['/tickets']">Tickets</a>
        <a mat-list-item [routerLink]="[ '/tickets/new' ]">Nuovo</a>
      </mat-expansion-panel>
      <a mat-list-item>Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rocket</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>